apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ui
  namespace: longhorn-system
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: traefik-public-ip-filter@kubernetescrd,traefik-public-basic-auth@kubernetescrd
spec:
  ingressClassName: traefik-public
  rules:
  - host: longhorn.ga-nan.ovh
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: longhorn-frontend
            port:
              number: 80
