replicaCount: 1

image:
  repository: vaultwarden/server
  tag: latest
  pullPolicy: IfNotPresent

env:
  DOMAIN: "https://vaultwarden.example.com"
  SIGNUPS_ALLOWED: "false"
  WEBSOCKET_ENABLED: "true"

persistence:
  enabled: true
  size: 5Gi
  storageClass: longhorn
  accessMode: ReadWriteOnce
