apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vaultwarden-public
  namespace: vaultwarden
spec:
  ingressClassName: traefik-public
  rules:
  - host: vaultwarden.ga-nan.ovh
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vaultwarden
            port:
              number: 80
  tls:
  - hosts:
    - vaultwarden.ga-nan.ovh
    secretName: vaultwarden-tls
