apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: homeassistant
  labels:
    app: homeassistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      containers:
      - name: homeassistant
        image: homeassistant/home-assistant:stable
        ports:
        - containerPort: 8123
        env:
        - name: TZ
          value: "Europe/Paris"
        volumeMounts:
        - name: homeassistant-config
          mountPath: /config
        - name: homeassistant-config-files
          mountPath: /config/configuration.yaml
          subPath: configuration.yaml
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: homeassistant-config
        persistentVolumeClaim:
          claimName: homeassistant-config-pvc
      - name: homeassistant-config-files
        configMap:
          name: homeassistant-config
