apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 30.1.0
    helm:
      values: |
        deployment:
          replicas: 1
          podAnnotations: {}
          hostNetwork: true
        
        ports:
          web:
            port: 80
          websecure:
            port: 443
        
        service:
          type: ClusterIP
        
        ingressClass:
          enabled: true
          isDefaultClass: true
        
        logs:
          general:
            level: INFO
        
        providers:
          kubernetesCRD:
            enabled: true
            allowCrossNamespace: true
          kubernetesIngress:
            enabled: true
  
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true