apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 30.1.0
    helm:
      values: |
        deployment:
          replicas: 2

        service:
          enabled: true
          type: ClusterIP

        ports:
          web:
            port: 80
              
        ingressClass:
          enabled: true
          name: traefik-private
          isDefaultClass: false

        persistence:
          enabled: true
          name: data
          size: 1Gi
          storageClass: longhorn
          path: /data

        additionalArguments:
          - --log.level=DEBUG
          - --accesslog=true
          - --providers.kubernetescrd
          - --providers.kubernetesingress


  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true



