apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-private-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://github.com/gabinheylen/k8s-gitops.git'
    targetRevision: main
    path: 'traefik'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
