apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 30.1.0
    helm:
      values: |
        deployment:
          replicas: 1

        service:
          enabled: true
          type: LoadBalancer
          annotations:
            metallb.universe.tf/address-pool: lan-pool

        ports:
          web:
            port: 80
          websecure:
            port: 443
            tls:
              enabled: true
              
        ingressClass:
          enabled: true
          name: traefik-private
          isDefaultClass: true

        persistence:
          enabled: true
          name: data
          size: 1Gi
          storageClass: longhorn
          path: /data

        additionalArguments:
          - --log.level=INFO
          - --accesslog=true
          - --providers.kubernetescrd
          - --providers.kubernetesingress
          - --entrypoints.websecure.http.tls.options=default

        tlsOptions:
          default:
            minVersion: "VersionTLS12"
            cipherSuites:
              - "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
              - "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true



