apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 30.1.0
    helm:
      values: |
        deployment:
          replicas: 1

        service:
          type: LoadBalancer

        ports:
          web:
            port: 80
            redirectTo:
              port: websecure
              
          websecure:
            port: 443
            tls:
              enabled: true
              certResolver: letsencrypt

        ingressClass:
          enabled: true
          isDefaultClass: true

        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true

        logs:
          general:
            level: INFO

        persistence:
          enabled: true
          name: data
          size: 1Gi
          storageClass: longhorn
          path: /data

        certificatesResolvers:
          letsencrypt:
            acme:
              email: gabin0406heylen@gmail.com
              storage: /data/acme.json
              httpChallenge:
                entryPoint: web

        additionalArguments:
          - "--global.checknewversion=false"
          - "--global.sendanonymoususage=false"

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
