apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: homeassistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet

      # ✅ INIT CONTAINER (ÉTAPE 2)
      initContainers:
        - name: init-config
          image: busybox
          command:
            - sh
            - -c
            - |
              if [ ! -f /config/configuration.yaml ]; then
                cp /init/configuration.yaml /config/configuration.yaml
              fi
          volumeMounts:
            - name: config
              mountPath: /config
            - name: init-config
              mountPath: /init

      containers:
        - name: homeassistant
          image: ghcr.io/home-assistant/home-assistant:stable
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8123
          env:
            - name: TZ
              value: Europe/Paris
          volumeMounts:
            - name: config
              mountPath: /config
          securityContext:
            privileged: true

      # ✅ VOLUMES (ÉTAPE 4)
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: homeassistant-config
        - name: init-config
          configMap:
            name: homeassistant-init-config
